html {
	box-sizing: border-box;
}

*,*::after,*::before {
	box-sizing: inherit;
}

body {
	font-family: 'Cuprum', Helvetica, Arial, sans-serif;
	font-size: 18px;
	line-height: 18px;
	font-style: normal;
	font-weight: 400;
	background-color: #ffffff;
	position: relative;
}
/* /Header/ */

.wrap {
	margin: 0 auto; /* Центровщик */
	width: 960px;
	padding: 0 10px;
}
/* -------------------- */
.visually-hidden:not(:focus):not(:active) {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0px;
	padding: 0px;

	white-space: nowrap;

	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}
/* -------------------- */
.header-wrapper {
	background-color: #f2f6f8;
	padding: 0;
	min-height: 320px;
}

.logo {
	background-color: #ee3643;
	width: 220px;
	height: 42px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

.logo::after {
	content: "";
	width: 100%;
	height: 5px;
	top: 100%;
	position: absolute;
	background-color: #b52933;
}

.header-top {
	background-color: #293449;
}

.header-top-wrapper {
	display: flex;
	justify-content: space-between;
}

.header-top a {
	font-size: 17px;
	text-decoration: none;
	color: #ffffff;
}

.header-top .marker:active,
.header-top .basket:active {
	background-color: #161d29;
	color: rgba(255, 255, 255, 0.4);
}

.search {
	display: flex;
	position: relative;
	width: 270px;
}

.search svg {
	position: absolute;
	top: 50%;
	margin-top: -8.5px;
	left: 17px;
	z-index: 10;
	pointer-events: none;
	opacity: 0.3;
}


.search-style {
	border: none;
	width: 100%;
	height: 42px;
	background-color: transparent;
	outline: none;
	padding-left: 49px;
}

.search-style:hover + svg {
	opacity: 1;
}

.search-style:focus + svg {   /* Это гиниально)))) */
	fill: #ee3643;
	opacity: 1;
}

.search-style:focus {
	background-color: #ffffff;
	color: #111111;

}

.search-style::-webkit-input-placeholder {  /* Цвет placeholder для Opera и Safary */
	color: #ffffff;
}

.search-style:-moz-placeholder {  /* Цвет placeholder для Firefox  */
	color: #ffffff;
}

.order {
	background-color: #5fbb2d;
}

.marker,
.basket,
.order {
	width: 150px;
	padding: 11px 0 12px 0;
	position: relative;
	text-align: center;
}

.marker,
.basket {
	padding-left: 30px;
}

.marker::before,
.basket::before {
	content: "";
	left: 17px;
	position: absolute;
	width: 14px;
	height: 16px;
	background-image: url("../img/logo/icon-bookmark.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.3;
}

.basket::before {
	width: 15px;
	height: 15px;
	background-image: url("../img/logo/icon-basket.svg");
}

.marker:hover::before,
.basket:hover::before,
.entrance:hover::before {
	opacity: 1;
}
.marker:active::before,
.basket:active::before,
.entrance:active::before {
	opacity: 0.5;
}

.order:active {
	color: rgba(255, 255, 255, 0.5);
	background-color: #518534;
}

.header-info {
	display: flex;
	padding-top: 30px;
	padding-bottom: 30px;
	align-items: center;
}

.header-description {
	width: 200px;
	margin-left: 53px;
	font-style: italic;
	font-size: 16px;
	line-height: 23px;
	color: #ee3643;
}

.contact-information {
	width: 275px;
	margin-left: 71px;
	margin-top: 27px;
	text-align: center;
}

.phone::before {
	content: "";
	
	width: 18px;
	height: 19px;
	position: absolute;
	background-image: url("../img/logo/icon-phone.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	top: 50%;
	transform: translateY(-50%);
	left: 13px;
	
}

.phone {
	border: 3px solid #ffffff;
	font-size: 21px;
	line-height: 21px;
	color: #ee3643;
	text-decoration: none;
	padding: 5px 12px;
	width: 270px;
	display: block;
	position: relative;
}

.phone img {
	margin-right: 40px;
	margin-top: 5px;
}

.address {
	font-size: 14px;
	line-height: 24px;
	color: #32425c;
	margin-left: 10px;
}

.entrance-registration {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-left: 50px;
	padding-bottom: 22px;
}

.entrance-registration a {
	font-size: 21px;
	line-height: 21px;
	text-decoration: none;
	color: #000000;
	background-color: #ffffff;
	position: relative;
}

.entrance {
	padding: 14px 10px 15px 48px;
	margin-right: 10px;
	width: 121px;
}

.entrance::before {
	content: "";
	
	width: 20px;
	height: 17px;
	background-image: url("../img/logo/icon-login.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	position: absolute;
	left: 14px;
	top: 15px;
	opacity: 0.3;
}

.registration {
	padding: 14px 10px 15px 25px;
	width: 150px;
}

.entrance-registration a:hover {
	color: #ee3643;
}

.entrance-registration a:active {
	color: rgba(0, 0, 0, 0.3);
}

/* Стили бля catalog - client */

.client-wrapper {
	width: 300px;
	text-align: center;
	margin-left: 38px;
	padding-top: 14px;
}

.client a {
	font-size: 21px;
	line-height: 21px;
	color: #000000;
	text-decoration: none;
}

.client-name {
	position: relative;
}

.client-name:active {
	color: rgba(0, 0, 0, 0.3);
}

.client-name::before {
	content: "";
	
	left: -28px;
	width: 20px;
	height: 18px;
	position: absolute;
	background-image: url("../img/logo/icon-user.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.3;
}

.client {
	background-color: #ffffff;
	width: 100%;
	display: flex;
	padding-top: 12px;
	padding-bottom: 12px;
	padding-left: 40px;
}

.client-exit {
	position: relative;
	margin-left: 45px;
}

.client-exit::after {
	content: "";
	
	top: 3px;
	width: 21px;
	height: 17px;
	position: absolute;
	background-image: url("../img/logo/icon-logout.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.3;
}

.client-name:hover::before,
.client-exit:hover::after {
	opacity: 1;
}

.client-name:active::before,
.client-exit:active::after {
	opacity: 0.5;
}

.personal-account {
	font-size: 16px;
	line-height: 18px;
	list-style: none;
	display: flex;
	position: relative;
	padding-left: 18px;
	margin-bottom: 0;
}

.personal-account li:nth-child(1)::after {
	content: " ";
	width: 4px;
	height: 4px;
	background-color: #32425c;
	position: absolute;
	border-radius: 50%;
	left: 105px;
	top: 7px;
}

.personal-account li:nth-child(2) {
	margin-left: 30px;
}

.personal-account a {
	color: #3f4e66;
	
}

.personal-account a:hover {
	color: #ee3643;
}

.personal-account a:active {
	color: rgba(50, 66, 92, 0.3);
}

.menu {
	background-color: #32425c;
	min-height: 60px;
	margin: 0 auto;
	width: 940px;
}

.menu-list {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	position: relative;
}

.menu-list::after {
	content: "";
	width: 940px;
	height: 5px;
	top: 100%;
	position: absolute;
	background-color: #293449;
}

.menu-list a {
	display: block;
	text-decoration: none;
	font-size: 17px;
	color: #ffffff;
	padding: 22px 32px;
}

.menu-list a:hover {
	background-color: #293449;
}

.menu-list a:active {
	background-color: #1d2739;
	opacity: 0.5;
}

.main-hidden {
	display: none;
}

.breadcrumbs {
	margin: 25px 0 25px 0;
}

.breadcrumbs-list {
	display: flex;
	padding: 0;
	
}

.breadcrumbs-list li {
	list-style-type: none;
	padding-right: 40px;
	position: relative;
}

.breadcrumbs-list li::after {
	content: " ";
	
	left: -23px;
	top: 4px;
	width: 8px;
	height: 12px;
	background-image: url("../img/logo/icon-right-small.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	position: absolute;
}

.breadcrumbs-list li:first-child::after {
	display: none;
}  

.breadcrumbs-list a {
	font-family: 'PT Sans', Helvetica, Arial, sans-serif;
	text-decoration: none;
	color: #000000;
	font-size: 13px;
	text-transform: uppercase;
}

.instruments-title-wrapper {
	background-color: #f2f6f8;
}

.instruments-title {
	font-size: 30px;
	line-height: 30px;
	color: #32425c;
	text-transform: uppercase;
	font-weight: 400;
	padding: 33px 0 35px 30px;
}

.about-title,
.contacts {
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	font-weight: 400;
	margin: 0;
}

.about-description-first,
.description-second,
.contacts-info {
	font-family: 'PT Sans', Helvetica, Arial, sans-serif;
	font-size: 13px;
	line-height: 24px;
}

.about-description-first,
.description-second {
	margin-top: 27px;
}

.about-description-first,
.contacts-info {
	padding-top: 35px;
}

.description-second,
.map-location {
	padding-top: 33px;
}

.contacts-info {
	width: 180px;
	margin-top: 39px;
}

.description-second {
	width: 390px;
}

.main-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin-top: 78px;
	margin-bottom: 86px;
}

/* Основная часть MAIN главной станицы... */

/* верхняя часть...*/
.main-promo-wrapper li {
	list-style: none;
}

.main-promo-materials,
.main-promo-tools,
.main-promo-technics,
.main-promo-discount,
.main-promo-delivery {
	margin: 0;
	padding: 0;
	font-size: 24px;
	line-height: 30px;
	color: #fff;
	font-weight: 700;
}

.main-promo-wrapper a {
	font-size: 14px;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
}

.main-promo-top {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 59px 0 20px 0;
}
/* ________________________________________________________ */

.main-promo-bottom ul {
	padding: 0;
	margin: 0;
}

.main-promo-top li {
	width: 300px;
	padding: 26px 90px 20px 20px;
}

.backgroud-promo-materials {
	background-color: #ffbf47;
	background-image: url("../img/logo/icon-materials.svg");
	background-repeat: no-repeat;
	background-position: right 43px top 31px;
	position: relative;
	margin-right: 20px;
}

.backgroud-promo-tools {
	background-color: #3bbce3;
	background-image: url("../img/logo/icon-tools.svg");
	background-repeat: no-repeat;
	background-position: right 28px top 33px;
	margin-right: 20px;
}

.backgroud-promo-technics {
	background-color: #dc91d8;
	background-image: url("../img/logo/icon-tractor.svg");
	background-repeat: no-repeat;
	background-position: right 31px top 31px;
}

.promo-new::after {
	content: "";

	position: absolute;
	top: 0;
	right: 0;
	width: 60px;
	height: 59px;
	background-image: url("../img/logo/icon-new-flag.png");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.button-promo {
	width: 135px;
	display: inline-block;
	text-align: center;
	padding: 10px 0;
	border-radius: 3px;
	margin-top: 9px;
}

.button-promo-materials {
	background-color: #dda028;
}

.button-promo-tools {
	background-color: #35a9cc;
}

.button-promo-technics {
	background-color: #c682c2;
}

.button-promo:hover {
	opacity: 0.8;
}

.button-promo:active {
	opacity: 0.5;
}

.main-promo-discount-delivery li {
	margin-left: 20px;
}

.main-promo-discount-delivery li {
	width: 300px;
	padding: 26px 90px 20px 20px;
}

.backgroud-promo-discount {
	background-color: #8ed78f;
	background-image: url("../img/logo/icon-promo-basket.png");
	background-repeat: no-repeat;
	background-position: right 46px top 26px;
	margin-bottom: 20px;
}

.backgroud-promo-delivery {
	background-color: #ffc047;
	background-image: url("../img/logo/icon-promo-car.svg");
	background-repeat: no-repeat;
	background-position: right 31px top 32px;
}

.promo-discount {
	background-color: #80c180;
}

.promo-delivery {
	background-color: #e5ac40;
}
/*  - - - - - - - - - - - - - - - - - - - - - - - - - -  */
/* верхняя часть!!!*/

/* Нижняя часть...*/

.main-promo-bottom {
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: row;
	position: relative;
}
/* __________________________________________________________ */

.main-promo-slider-wrapper {
	position: relative;
	width: 620px;
	height: 266px;
}

.slider-list {
	background-repeat: no-repeat;
	background-position: 0 0;
	padding: 27px 25px 22px 25px;
}

.slider-list-first {
	background-image: url("../img/pictures/Sliders-first.jpg");
}

.slider-list-second {
	background-image: url("../img/pictures/slider-second.jpg");
	display: none;  /* Спрятали Второй слайд */
}

.slider-list h3 {
	font-size: 36px;
	line-height: 36px;
	color: #fff;
	text-transform: uppercase;
	margin: 0;
}

.slider-list p {
	line-height: 24px;
	color: #fff;
	margin: 10px 0;
}

.slider-catalog-open {
	display: inline-block;
	width: 195px;
	background-color: #ee3643;
	text-align: center;
	border-radius: 3px;
	padding: 14px 0;
	margin-top: 91px;
}

.slider-catalog-open:hover {
	background-color: #ca2c37;
}

.slider-catalog-open:active {
	background-color: #ba2732;
}

.button-slider {
	background-repeat: no-repeat;
	background-position: 0 0;
	width: 22px;
	height: 40px;
	border: none;
	background-color: transparent;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
	outline: none;
}

.button-slider-prev {
	background-image: url("../img/logo/icon-left.svg");
	left: 25px;
}

.button-slider-next {
	background-image: url("../img/logo/icon-right.svg");
	right: 25px;
}

.arrow-button-wrapper {
	width: 65px;
	height: 23px;
	position: absolute;
	left: 277px;
	bottom: 33px;
}

.arrow-button {
	border: none;
	outline: none;
	width: 12px;
	height: 12px;
	background-color: #fff;
	border-radius: 50%;
	cursor: pointer;
}

.slider-left {
	margin-left: 20px;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

/* ПОПУЛЯРНЫЕ ТОВАРЫ... */
.items-catalog-products {
	position: relative;
}
.items-catalog-products:nth-child(4)::after {
	content: "";
	
	top: 0px;
	right: 0px;
	width: 60px;
	height: 59px;
	position: absolute;
	background-image: url("../img/logo/icon-new-flag.png");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.popular-products-wrapper {
	background-color: #f9f5f0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 53px;
	padding: 25px 24px 26px 30px;
}

.popular-products {
	color: #32425c;
	font-size: 30px;
	line-height: 30px;
	font-weight: 400;
	text-transform: uppercase;
	margin: 0;
}

.all-popular-products {
	font-size: 14px;
	color: #fff;
	text-transform: uppercase;
	background-color: #ee3643;
	width: 253px;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	padding: 10px 0;
	border-radius: 3px;
}

.all-popular-products:hover {
	background-color: #ca2c37;
}

.all-popular-products:active {
	background-color: #ba2732;
}

/* ПОПУЛЯРНЫЕ ТОВАРЫ!!! */

/* СПИСОК ПОПУЛЯРНЫЕ ТОВАРЫ... */

.catalog-popular ul {
	padding: 0;
	margin: 20px 0 0 0;
}

.catalog-popular-products {
	display: flex;
	flex-wrap: wrap;
}

.catalog-popular-products li:not(:last-child) {
	margin: 0 20px 0 0;
}

.catalog-popular-products li:last-child {
	margin: 0;
}

/* СПИСОК ПОПУЛЯРНЫЕ ТОВАРЫ!!! */

/* ПОПУЛЯРНЫЕ ПРОИЗВОДИТЕЛИ... */
.popular-products2-wrapper {
	background-color: #f9f5f0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 21px;
	padding: 25px 24px 26px 30px;
}
/* ПОПУЛЯРНЫЕ ПРОИЗВОДИТЕЛИ!!! */

/* СПИСОК ПОПУЛЯРНЫХ ПРОИЗВОДИТЕЛЕЙ... */

.popular-manufacturers-wrapper {
	margin-top: 21px;
	margin-bottom: 80px;
}

.manufacturers-list-wrapper {
	display: flex;
	flex-wrap: wrap;

}

.manufactures-item {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 220px;
	min-height: 145px;
	border: 1px solid #ebebeb;
}

.manufactures-item:nth-child(1),
.manufactures-item:nth-child(2),
.manufactures-item:nth-child(3),
.manufactures-item:nth-child(5),
.manufactures-item:nth-child(6),
.manufactures-item:nth-child(7) {
	margin: 0 20px 20px 0;
}

.manufactures-item:nth-child(4),
.manufactures-item:nth-child(8) {
	margin-bottom: 20px;
}

.manufactures-item:hover {
	box-shadow: 0 0 25px rgba(0,0,0,0.5);
}

.manufactures-item:active {
	opacity: 0.3;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
/* СПИСОК ПОПУЛЯРНЫХ ПРОИЗВОДИТЕЛЕЙ!!! */

/* СЕРВИС И ДОСТАВКА ВТОРОЙ СЛАЙДЕР... */

.services-wrapper-for-dimension {
	padding-top: 60px;
}

.services-wrapper {
	background-color: #f4f7f9;

}

.services-wrapper li {
	list-style: none;
}

.services-wrapper ul {
	margin: 0;
}

.service-wrapper {
	width: 400px;
	position: relative;
	padding-left: 0;
}

.service-wrapper h3 {
	font-size: 30px;
	line-height: 30px;
	color: #000;
	text-transform: uppercase;
	margin: 0;
	font-weight: 400;
}

.service-wrapper p {
	font-family: 'PT Sans', Helvetica, Arial, sans-serif;
	font-size: 13px;
	line-height: 24px;
	color: #000;
	margin: 0px;
	margin-top: 38px;
}

.services-button-list {
	display: flex;
	padding: 75px 0 0 0;
	position: relative;
}

.services-button {
	width: 240px;
	position: relative;
}

.button-service {
	font-size: 21px;
	line-height: 30px;
	color: #fff;
	font-weight: 700;
	text-decoration: none;
	width: 240px;
	display: inline-block;
	background-color: #32425c;
	padding: 15px 0 15px 22px;
	border-bottom: 1px solid #293449;
	border-top: 1px solid #405069;
}

.services-button::after {
	content: "";

	background-image: url("../img/pictures/box-shadow-for-slider2.png");
	background-repeat: no-repeat;
	background-position: 0 0;
	position: absolute;
	right: 0px;
	bottom: 65%;
	transform: translateY(50%);
	height: 279px;
	width: 10px;
}

.button-service:hover {
	background-color: #293449;
}

.button-service:focus {
	background-color: #fff;
	color: #32425c;
	border: 1px solid #fff;
}

.service-list-title h3 {
	font-size: 36px;
	line-height: 36px;
	color: #32425c;
	text-transform: uppercase;
	margin: 0;
	font-weight: 400;
}


.service-list-title p {
	font-family: 'PT Sans', Helvetica, Arial, sans-serif;
	font-size: 13px;
	line-height: 24px;
	color: #000;
	margin: 0;
}

.picture-procedure {
	position: absolute;
	right: 0px;
	top: 83px;
}

.picture-procedure.warranty-image {
	top: 61px;
}

.service-list-title.warranty-wrapper {
	width: 378px;
}

.service-list-title.delivery-wrapper {
	width: 277px;
}

.service-list-title.credit-wrapper {
	width: 280px;
}

.picture-procedure.credit-image {
	top: 59px;
}

.service-list-title.credit-wrapper p {
	padding-top: 27px;
}

.delivery-wrapper h3 {
	padding-bottom: 32px;
}

.warranty-wrapper h3 {
	padding-bottom: 36px;
	font-style: italic;
}

.service-list-title-button {
	width: 195px;
	background-color: #ff5357;
	padding: 14px 0;
	text-transform: uppercase;
	color: #fff;
	font-size: 14px;
	border: none;
	border-radius: 3px;
	margin-top: 27px;
	outline: none;
	cursor: pointer;
	position: relative;
}

.hide-services-wrapper {
	margin-left: 80px;
	width: 630px;
}

.service-list-title-button:hover {
	background-color: #ca2c37;
}

.service-list-title-button:active {
	background-color: #ba2732;
}

.hide-services-delivery {
	display: none;	       		/* Прячим слайдер Доставка - Гарантия - Кредит */
	background-image: url("../img/pictures/bottom-slider-car.png");
	background-repeat: no-repeat;
	background-position: 153px 35px;
	padding-bottom: 116px;
}

.hide-services-warranty {
	display: none;				/* Прячим слайдер Доставка - Гарантия - Кредит */
	background-image: url("../img/pictures/bottom-slider-warranty.png");
	background-repeat: no-repeat;
	background-position: 232px 0;
	padding-bottom: 95px;
}

.hide-services-credit {
								/* Прячим слайдер Доставка - Гарантия - Кредит */	
	background-image: url("../img/pictures/bottom-slider-credit.png");
	background-repeat: no-repeat;
	background-position: 153px 0;
	padding-bottom: 95px;
}

/* СЕРВИС И ДОСТАВКА ВТОРОЙ СЛАЙДЕР!!! */

/* Основная часть MAIN главной станицы!!! */


.about-company {
	color: #000000;
	width: 522px;
	margin: 0;
}

.main-wrapper p {
	margin: 0;
}

.about-company ul {
	margin: 0;
}

.map-wrapper {
	width: 300px;
	margin: 0;
}

.map-location {
	display: block;
	padding-bottom: 57px;
}

.about-company-list {
	font-size: 18px;
	line-height: 40px;
	list-style-type: none;
	padding-top: 20px;
	padding-bottom: 30px;
}

.about-company-list li {
	position: relative;
}

.about-company-list li::before {
	content: "";
	
	left: -35px;
	top: 18px;
	position: absolute;
	width: 25px;
	height: 2px;
	background-color: #ee3643;
}

.button-more-details,
.button-navigation-info {
	font-size: 14px;
	line-height: 18px;
	color: #ffffff;
	background-color: #ee3643;
	text-decoration: none;
	text-transform: uppercase;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	padding: 14px 0 14px 0;
	display: inline-block;
	text-align: center;
	vertical-align: top;
}

.button-more-details {
	width: 220px;
}

.button-navigation-info {
	width: 100%;
}

.button-more-details:hover {
	background-color: #ca2c37;
}

.button-more-details:active {
	background-color: #ba2732;
}

.button-navigation-info:hover {
	background-color: #ca2c37;
}

.button-navigation-info:active {
	background-color: #ba2732;
}

/* Еще часть main cotalog */

.filter-manufacturers-power-wrapper {
	
}

fieldset {
   border: 0 none;
}

.form-catalog-wrapper {
	display: flex;
	min-height: 995px;
}

.form-catalog-wrapper form {
	width: 220px;
}

.form-manufacturers,
.form-electro-power {
	font-family: 'PT Sans', Helvetica, Arial, sans-serif;
	color: #000000;
	text-transform: uppercase;
	margin-top: 40px;
}

/* Стилизуем checkdox... */
.form-manufacturers {
	padding: 0;
	margin: 0;
	width: 220px;
	border-top: 1px solid #e5e5e5;
	padding-top: 25px;
}

.form-manufacturers-tytle {
	margin: 0;
	padding-bottom: 22px;
}

.type-manufacturers {
	padding: 0;
	margin: 0;
}

.type-manufacturers li {
	padding-bottom: 15px;
}

.label-manufacturers {
	display: flex;
	align-items: center;
}

.checkbox-manufacturers-off {
	margin-right: 10px;
}

.checkbox-manufacturers-off,
.checkbox-manufacturers-on,
.radio-power-off,
.radio-power-on {
	opacity: 0.3;
}

.checkbox-manufacturers {
	display: none;
}
.checkbox-manufacturers-on {
	display: none;
}

.checkbox-manufacturers:checked ~ .checkbox-manufacturers-off {
	display: none;
}

.checkbox-manufacturers:checked ~ .checkbox-manufacturers-on {
	display: inline-block;
	margin-right: 6px;
}
/* Стилизуем checkdox!!! */

/* Стилизуем radio... */
.form-electro-power {
	margin: 0;
	padding: 0;
}

.type-electro-power {
	margin: 0;
	padding: 0;
}

.radio-power-type {
	display: none;
}

.radio-power-on {
	display: none;
}

.radio-power-type:checked ~ .radio-power-off {
	display: none;
}

.radio-power-type:checked ~ .radio-power-on {
	display: inline-block;
}

.form-electro-power-tytle {
	margin: 0;

}

.form-electro-power {
	width: 220px;
	border-top: 1px solid #e5e5e5;
	padding-top: 25px;
}

.form-electro-power-tytle {
	padding-bottom: 18px;
}

.label-power-type {
	display: flex;
	align-items: center;
}

.type-electro-power li {
	padding-bottom: 16px;
}

.text-power-type {
	padding-left: 10px;
}

/* Стилизуем radio!!! */

.type-manufacturers,
.type-electro-power {
	list-style: none;
}

.form-manufacturers legend,
.form-electro-power legend {
	font-size: 17px;
	line-height: 30px;
	font-weight: bold;
}

.button-show-manufacturers {
	background-color: #ffffff;
	border-color: #e5e5e5;
	width: 140px;
	height: 38px;
	border: 1px solid #e5e5e5;
	border-radius: 3px;
	outline: none;
	margin-top: 54px;
}

.button-show-manufacturers:hover {
	border-color: #bdc6ca;
}

.button-show-manufacturers:active {
	border-color: #ee3643;
}

/* Часть с типани перформаторов */

/* Сортировка каталога... */

.catalog-sorting-wrapper {
	list-style: none;
	display: flex;
	background-color: #f7f3ec;
	margin: 0 0 0 20px;
	align-items: center;
	padding: 13px 10px 10px 19px;
	border-radius: 3px;
}

.catalog-sorting a {
	text-decoration: none;
	font-family: 'PT Sans', Helvetica, Arial, sans-serif;
	font-size: 13px;
	text-transform: uppercase;
	color: rgba(0, 0, 0, 0.3);
	font-weight: 700;
	border-bottom: 1px dotted #ee3643;
}

.catalog-sorting-tytle h3 {
	margin: 0;
	font-family: 'PT Sans', Helvetica, Arial, sans-serif;
	font-size: 13px;
	text-transform: uppercase;
	color: #000;
	padding-right: 140px;
}

.catalog-sorting.byprice {
	padding-right: 72px;
}

.catalog-sorting.bytype {
	padding-right: 66px;
}

.catalog-sorting.byfunctionality {
	padding-right: 47px;
}

.sorting-button-up {
	padding-right: 21px;
}

.sorting-button-up,
.sorting-button-down {
	fill: #000000;
	opacity: 0.3;
}

.sorting-button-up:hover,
.sorting-button-down:hover {
	opacity: 1;
} 

.sorting-button-up:hover {   /* НЕ РАБОТАЕТ, Нужно разобраться */
	fill: #ee3643;
}

.catalog-sorting a:hover {
	color: rgba(0, 0, 0, 1);
	border-bottom: 1px solid #ee3643;
}

.catalog-sorting a:active {
	color: #ee3643;
	border: none;
}

/* Сортировка каталога!!! */

/* catalog */

.catalog {
	width: 720px;
	margin-top: 20px;
}

.catalog-list {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
}
/* tr:not(:nth-child(3) */

.catalog-item {
	margin-left: 20px;
}


.catalog-item {
 	font-family: 'PT Sans', Helvetica, Arial, sans-serif;
	font-weight: bold;
	list-style: none;
	width: 220px;
	min-height: 320px;
	margin-bottom: 20px;
	border: 1px solid #e5e5e5;
	text-align: center;
	position: relative;
}

/* ссылки купить в закладки ... */

.catalog-bookmark-buy {
	display: none;
	width: 200px;
	min-height: 100px;
	position: absolute;
	left: 12px;
	top: 30px;
}

.catalog-item:hover {
	box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.catalog-item:hover .catalog-bookmark-buy {
	background-color: rgba(255,255,255,0.9);
	display: flex;
	display: block;
}

.catalog-buy,
.catalog-bookmark {
	font-family: 'Cuprum', Helvetica, Arial, sans-serif;
	width: 135px;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 14px;
	display: block;
	margin: 0 auto;
}

.catalog-buy {
	color: #ffffff;
	background-color: #63a63e;
	border-radius: 3px;
	border-bottom: 3px solid #367315;
	padding: 10px 0 8px 0;
	position: relative;
}

.catalog-buy::before {
	content: "";
	
	left: 15px;
	background-image: url(../img/logo/icon-basket.svg);
	background-repeat: no-repeat;
	position: absolute;
	width: 15px;
	height: 15px;
	opacity: 0.3;
}

.catalog-buy:hover {
	background-color: #5fbb2d;
}

.catalog-buy:active {
	background-color: #518534;
}

.catalog-buy:hover::before,
.catalog-buy:active::before {
	opacity: 1;
}

.catalog-bookmark {
	color: #32425c;
	border: 3px solid #63a63e;
	border-radius: 3px;
	padding: 8px 0;
	margin-top: 7px;
}

.catalog-bookmark:hover {
	border: 3px solid #32425c;
}

.catalog-bookmark:active {
	opacity: 0.3;
}

/* ссылки купить в закладки  !!!*/

.new-flag img {
	right: 0px;
	position: absolute;
}

.catalog-item-type a {
	text-decoration: none;
	color: #000000;
}
.catalog-item-type {
	line-height: 20px;
	width: 160px;
	display: inline-block;
}

.discount {
	font-size: 17px;
	color: #999999;
	text-transform: uppercase;
}

.price.new {
	color: #ffffff;
	background-color: #ee3643;
	width: 142px;
	margin: 15px auto;
	padding: 10px 0;
	position: relative;
}

.price.new::after {
	content: " ";
	
	top: 0px;
	right: -23px;
	border: 19px solid white;
  border-left-color: #ee3643;
  position: absolute;
}

.price {
	color: #999999;
	margin-top: 18px;
	min-height: 23px;
	display: block;
}

         /* Стили для footer */

.footer-top {
	background-color: #32425c;
	min-height: 192px;
}

.footer-top-wrapper {
	display: flex;
}

.footer-logo-address {
	width: 332px;
}

.footer-logo {
	background-color: #ee3643;
	width: 220px;
	position: relative;
	display: flex;
	justify-content: center;
	padding: 20px 0 20px 0;
}

.footer-address {
	line-height: 24px;
	color: #f1f5f7;
	margin-top: 32px;
}

.footer-logo::after {
	content: "";
	width: 100%;
	height: 5px;
	top: 100%;
	position: absolute;
	background-color: #b52933;
}


.footer-logo-address a {
	text-decoration: none;
	line-height: 24px;
	color: #f1f5f7;
}

/* Кнопки страниц каталога...  */

.catalog-button-page {
	padding-left: 20px;
	margin: 34px 0 60px 0;
}

.catalog-button-page li {
	list-style: none;
}

.catalog-button-page {
	display: flex;
}

.catalog-page {
	font-family: 'PT Sans', Helvetica, Arial, sans-serif;
	font-size: 13px;
	color: #000;
	text-decoration: none;
	border: 1px solid #e5e5e5;
	width: 38px;
	border-radius: 3px;
	padding-bottom: 9px;
	display: inline-block;
	text-align: center;
	padding-top: 9px;
}

.catalog-page-wrapper {
	margin-right: 10px;
}

.catalog-next-button {
	width: 140px;
	text-transform: uppercase;
}

.catalog-page:hover {
	border-color: #bdc6ca;
}

.catalog-page:active {
	border-color: #ee3643;
}
/* Кнопки страниц каталога!!!  */

/* Глова - "Пара слов о перфораторах"... */

.few-words-about-hammers {
	background-color: #f2f6f8;
}

.about-hammers-wrapper {
	padding: 27px 0 70px 0;
}

.about-hammers-tytle {
	font-size: 30px;
	line-height: 30px;
	font-weight: 400;
	margin: 0;
}

.about-hammers-text {
	font-family: 'PT Sans', Helvetica, Arial, sans-serif;
	font-size: 13px;
	line-height: 24px;
	margin: 0;
}

/* Глова - "Пара слов о перфораторах"!!! */

/* Меню footer, большой список/ */

.footer-menu {
	width: 550px;
	padding-top: 42px;
	margin-left: 65px;
}

.footer-menu li {
	list-style: none;
}

.footer-menu-list {     /* 1 */
	line-height: 24px;
	color: #f1f5f7;
	display: flex;
	padding: 0;
	margin: 0;
}


.footer-menu-list a {
	text-decoration: none;
	color: inherit;
}

.footer-menu-list li {
	margin-right: 60px;
}

.footer-menu-bottom {      /* 2 */
	color: #ffd180;
	margin-left: 15px;
	margin-top: 28px;
}

.footer-menu-list a:hover {
	text-decoration: underline;
}

.footer-menu-list a:active {
	opacity: 0.5;
	text-decoration: none;
}

/* Меню footer, большой список// */

.footer-bottom {
	background-color: #293449;
}

.footer-bootom-wrapper{
	display: flex;
	align-items: center;
	padding-top: 35px;
	padding-bottom: 35px;
}

.copyrigh p {
	font-size: 16px;
	color: #ffffff;
	margin: 0;

}

.copyrigh {
	width: 230px;
	margin-right: 145px;
}

.social-wrapper {
	display: flex;
	width: 135px;
	margin-right: 115px;
}

.footer-feedback {
	display: flex;
	justify-content: center;
	width: 310px;
}

.social-wrapper a {
	background-color: #212a3a;
	width: 42px;
	height: 42px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	margin-right: 5px;
	position: relative;
}

.social-wrapper a:hover,
.social-wrapper a:active {
	background-color: #ee3643;
}


.vkontakte::before,
.facebook::before,
.instagram::before {
	content: "";
	position: absolute;
	background-repeat: no-repeat;
	background-position: 0 0;
}

.vkontakte::before {
	width: 26px;
	height: 15px;
	background-image: url("../img/logo/icon-vk.svg");
}

.facebook::before {
	width: 12px;
	height: 22px;
	background-image: url("../img/logo/icon-fb.svg");
}

.instagram::before {
	width: 21px;
	height: 21px;
	background-image: url("../img/logo/icon-insta.svg");
}


.footer-feedback-title.left {
	padding-right: 40px;
}

.footer-feedback-title p {
	font-size: 16px;
	color: #ffffff;
	margin: 0;
}

.footer-feedback-title a {
	color: #ffd180;
	text-decoration: none;
}

.footer-feedback-title a:hover {
	text-decoration: underline;
}

.footer-feedback-title a:active {
	color: #ee3643;
	text-decoration: none;
}
                 /* Стилизация ПОПАП */

.closed {
	border: none;
	width: 23px;
	height: 23px;
	background-image: url(../img/logo/icon-popup-exit.svg);
	background-repeat: no-repeat;
	cursor: pointer;
	background-color: #ffffff;
	outline: none;
	position: absolute;
	right: 9px;
	top: 9px;
}

.popup-feedback {
	width: 620px;
	border-top: 7px solid #ff5358;
	position: fixed;
	left: 50%;
	margin-left: -310px;
	top: 50%;
	transform: translateY(-50%);
	background-color: #FFFFFF;	
	box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
	display: none;
}

.form-feedback-info {
	display: flex;
	justify-content: center;
	margin-top: 45px;
}

.form-name,
.form-email {
	width: 220px;
}

.form-name {
	margin-right: 20px;
}

.form-feedback-info input {
	width: 220px;
	border: 2px solid #dee3e4;
	border-radius: 3px;
	padding: 12px 14px;
	margin-bottom: 20px;
}

.form-text-letter {
	width: 460px;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
}

.form-text-letter textarea {
	border: 2px solid #dee3e4;
	border-radius: 3px;
	resize: none;
	margin-bottom: 37px;
}

.feedback-popup-button {
	width: 460px;
	background-color: #ee3643;
	outline: none;
	border: none;
	border-radius: 3px;
	color: #ffffff;
	text-transform: uppercase;
	padding: 14px 0 14px 0;
}

.feedback-popup-button:hover {
	background-color: #ca2c37;
}

.feedback-popup-button:active {
	background-color: #ba2732;
}
.feedback_button-wrapper {
	background-color: #f4f4f4;
	padding: 37px 80px;
}

.popup-map {
	position: fixed;
	left: 29.2%;
	top: 360px;
	z-index: 22;
	display: none;  /* Спрятали попап */
}

.closing-map {
	position: absolute;
	right: 5px;
	top: 25px;
} 

/* попап "Товар добавлен в корзину"... */

.closing-form-item {
	right: 5px;
	top: 5px;
}

.popup-item-basket {
	width: 620px;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-top: 7px solid #ee3643;
	position: fixed;
	z-index: 23;
	left: 37%;
	top: 320px;
	display: none;    /* Спрятали попап */

	background-color: #FFFFFF;
	background-image: url(../img/pictures/popup-item-basket.png);
	background-position: -37px -33px;
	background-repeat: repeat;
	box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}

.item-basket-wrapper {
	display: flex;
	padding-top: 48px;
	padding-bottom: 48px;
	align-items: center;
}

.item-basket-wrapper img {
	margin-right: 32px;
}

.buttons-popup-item {
	background-color: #f1f1f1;
	width: 620px;
	display: flex;
	justify-content: center;
}

.buttons-item {
	text-transform: uppercase;
	width: 220px;
	padding-top: 14px;
	padding-bottom: 10px;
	border-radius: 3px;
	outline: none;
	border: none;
	margin: 37px 0;
	cursor: pointer;
	color: #ffffff;
	background-color: #ee3643;
}

.make-request {
	margin-right: 20px;
}

.buttons-item:hover {
	background-color: #ffffff;
	color: #000000;
}
/* попап "Товар добавлен в корзину"!!! */