html {
	box-sizing: border-box;
}

*,*::after,*::before {
	box-sizing: inherit;
}

body {
	font-family: 'Cuprum', Helvetica, Arial, sans-serif;
	font-size: 18px;
	line-height: 18px;
	font-style: normal;
	font-weight: 400;
	background-color: #ffffff;
}
/* /Header/ */

.wrap {
	margin: 0 auto; /* Центровщик */
	width: 960px;
	padding: 0 10px;
}
/* -------------------- */
.visually-hidden:not(:focus):not(:active) {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0px;
	padding: 0px;

	white-space: nowrap;

	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}
/* -------------------- */

.popup {
	display: none; /* Закроем попап */
}

.header-wrapper {
	background-color: #f2f6f8;
	padding: 0;
	min-height: 320px;
}

.logo {
	background-color: #ee3643;
	width: 220px;
	height: 42px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;

}

.header-logo-style {
	width: 220px;
	height: 5px;
	bottom: -5px;
	position: absolute;
	background-color: #b52933;
}

.header-top {
	background-color: #293449;
	min-height: 42px;
}

.header-top-wrapper {
	min-height: 42px;
	display: flex;
	justify-content: space-between;
}

.header-top a {
	font-size: 17px;
	text-decoration: none;
	color: #ffffff;
	/* Будем делать по другому */
}

.header-top .marker:active,
.header-top .basket:active {
	background-color: #161d29;
	color: rgba(255, 255, 255, 0.4);
}

.search {
	display: flex;
	position: relative;
}

.search svg {
	width: 17px;
	height: 17px;
	position: relative;
	top: 12px;
	left: 17px;
}


.search-style {
	border: none;
	width: 270px;
	height: 42px;
	background-color: #293449;
	outline: none;
}

.search-style:focus {
	background-color: #ffffff;
	color: #111111;

}

.search-style::-webkit-input-placeholder {  /* Цвет placeholder для Opera и Safary */
	color: #ffffff;
}

input[type="search"]{
    padding-left: 49px;
}

.search-style:-moz-placeholder {  /* Цвет placeholder для Firefox  */
	color: #ffffff;
}

.order {
	background-color: #5fbb2d;
	width: 150px;
	padding-top: 14px;
	display: flex;
	justify-content: center;
}

.marker,
.basket {
	width: 150px;
	padding-top: 10px;
}

.marker img {
	padding-right: 13px;
}

.basket img {
	padding-right: 17px;
}

.order:active {
	color: rgba(255, 255, 255, 0.5);
	background-color: #518534;
}

.header-info {
	margin: 46px auto;
	display: flex;
	
}

.header-description {
	width: 200px;
	margin-left: 52px;
	margin-top: 0px;
  margin-bottom: 0px;
	font-style: italic;
	font-size: 16px;
	line-height: 23px;
	color: #ee3643;
}

.contact-information {
	width: 270px;
	margin-left: 70px;
}

.phone {
	margin-left: 30px;
	border: 3px solid #ffffff;
	font-size: 21px;
	line-height: 21px;
	color: #ee3643;
	text-decoration: none;
	padding: 5px 12px;
	width: 200px;
}

.address {
	font-size: 14px;
	line-height: 24px;
	color: #32425c;
}

.entrance-registration {
	width: 283px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-left: 70px;
}

.entrance-registration a {
	font-size: 21px;
	line-height: 21px;
	text-decoration: none;
	color: #000000;
	background-color: #ffffff;
}

.entrance {
	padding: 14px 27px 11px 14px;
}

.registration {
	padding: 14px 25px 11px 25px;
}

.entrance-registration a:hover {
	color: #ee3643;
}

.entrance-registration a:active {
	color: rgba(0, 0, 0, 0.3);
}

/* Стили бля catalog - client */

.client-wrapper {
	width: 300px;
	text-align: center;
}

.client a {
	font-size: 21px;
	line-height: 21px;
	color: #000000;
	text-decoration: none;
	background-color: #ffffff;
}

.client-name:active {
	color: rgba(0, 0, 0, 0.3);
}

.personal-account {
	font-size: 16px;
	line-height: 18px;
	list-style: none;
	display: flex;
}

.personal-account a {
	color: #3f4e66;
	padding-right: 33px;
}

.personal-account a:hover {
	color: #ee3643;
}

.personal-account a:active {
	color: rgba(50, 66, 92, 0.3);
}

.menu {
	background-color: #32425c;
	min-height: 60px;
	position: relative;
}

.menu-style {
	width: 940px;
	height: 5px;
	bottom: 0px;
	position: absolute;
	background-color: #293449;
}

.menu-list {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.menu-list a {
	/* width: 127px;
	min-height: 60px; */
	display: block;
	text-decoration: none;
	font-size: 17px;
	color: #ffffff;
	padding: 22px 32px;
}

.menu-list a:hover {
	background-color: #293449;
}

.menu-list a:active {
	color: rgba(255, 255, 255, 0,5);
	background-color: #1d2739;
}

.main-hidden {
	display: none;
}

.breadcrumbs-list {
	display: flex;
	padding: 0;
}

.breadcrumbs-list li {
	list-style-type: none;
	padding-right: 18px;
}

.breadcrumbs-list a {
	font-family: 'PT Sans', Helvetica, Arial, sans-serif;
	text-decoration: none;
	color: #000000;
	font-size: 13px;
	text-transform: uppercase;
}

.instruments-title-wrapper {
	background-color: #f2f6f8;
	min-height: 90px;
}

.instruments-title {
	font-size: 30px;
	line-height: 30px;
	color: #32425c;
	text-transform: uppercase;
	font-weight: 400;
	padding-top: 33px;
	padding-left: 30px;
}

.about-company {
	color: #000000;
}

.about-title,
.contacts {
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	font-weight: 400;
}

.about-description-first,
.description-second,
.contacts-info {
	font-family: 'PT Sans', Helvetica, Arial, sans-serif;
	font-size: 13px;
	line-height: 24px;
}

.contacts-info {
	width: 180px;
}

.description-second {
	width: 390px;
}

.main-wrapper {
	min-height: 537px;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.main-wrapper-catalog {
	/* ПУСТО */
}

.about-company {
	width: 522px;
	margin-top: 80px;
	display: flex;
	flex-direction: column;
}

.map-wrapper {
	width: 300px;
	margin-top: 80px;
	display: flex;
	flex-direction: column;
}

.about-company-list {
	font-size: 18px;
	line-height: 20px;
	list-style-type: none;
}

.button-more-details,
.button-navigation-info {
	font-size: 14px;
	line-height: 18px;
	color: #ffffff;
	background-color: #ee3643;
	text-decoration: none;
	text-transform: uppercase;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	padding: 14px 0 14px 0;
	margin-top: 40px;
}

.button-more-details {
	width: 220px;
}

.button-navigation-info {
	width: 300px;
}

.button-more-details:hover {
	background-color: #ca2c37;
}

.button-more-details:active {
	background-color: #ba2732;
}

.button-navigation-info:hover {
	background-color: #ca2c37;
}

.button-navigation-info:active {
	background-color: #ba2732;
}

/* Еще часть main cotalog */

.form-catalog-wrapper {
	display: flex;
	min-height: 995px;
}

.form-catalog-wrapper form {
	min-height: 520px;
	width: 220px;
}

.form-manufacturers,
.form-electro-power {
	font-family: 'PT Sans', Helvetica, Arial, sans-serif;
	color: #000000;
	text-transform: uppercase;
}

.type-manufacturers,
.type-electro-power {
	list-style: none;
}

.form-manufacturers legend,
.form-electro-power legend {
	font-size: 17px;
	line-height: 30px;
	font-weight: bold;
} 

.form-manufacturers label,
.form-electro-power label {
	font-size: 15px;
	line-height: 20px;
}

.button-show-manufacturers {
	background-color: #ffffff;
	border: 1px solid black;
	border-color: #e5e5e5;
}

.button-show-manufacturers:hover {
	border-color: #bdc6ca;
}

.button-show-manufacturers:active {
	border-color: #ee3643;
}

/* Часть с типани перформаторов */
/* catalog */

.catalog {
	width: 720px;
	min-height: 995px;
}

.catalog-list {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	margin-left: 20px;
}

.catalog-item {
 	font-family: 'PT Sans', Helvetica, Arial, sans-serif;
	font-weight: bold;
	outline: 1px solid #070707;
	list-style: none;
	width: 220px;
	min-height: 320px;
	margin-bottom: 20px;
	margin-right: 5px;
}

.catalog-item-type a {
	text-decoration: none;
	color: #000000;
}
.catalog-item-type {
	line-height: 20px;
}

.discount {
	font-size: 17px;
	color: #999999;
	text-transform: uppercase;
}

.price.new {
	color: #ffffff;
	background-color: #ee3643;
}

         /* Стили для footer */




.footer-top {
	background-color: #32425c;
	min-height: 192px;
}

.footer-top-wrapper {
	display: flex;
}

.footer-logo-address {
	width: 332px;
	display: flex;
	flex-direction: column;
	position: relative;
}

.footer-logo {
	background-color: #ee3643;
	width: 220px;
	display: flex;
	justify-content: center;
	padding: 20px 0 20px 0;
}

.footer-address {
	line-height: 24px;
	color: #f1f5f7;
}

.footer-logo-style {
	width: 220px;
	height: 5px;
	top: 55px;
	position: absolute;
	background-color: #b52933;
}


.footer-logo-address a {
	text-decoration: none;
	line-height: 24px;
	color: #f1f5f7;
}

/* Меню footer, большой список/ */

.footer-menu {
	width: 550px;
	padding-top: 24px;
	margin-left: 65px;
}

.footer-menu li {
	list-style: none;
}

.footer-menu-list {     /* 1 */
	line-height: 24px;
	color: #f1f5f7;
	display: flex;
	padding: 0;
	margin: 0;
}


.footer-menu-list a {
	text-decoration: none;
	color: inherit;
	margin-right: 60px;
}

.footer-menu-bottom {      /* 2 */
	color: #ffd180;
	margin-left: 15px;
	margin-top: 28px;
}

.footer-menu-list a:hover {
	text-decoration: underline;
}

.footer-menu-list a:active {
	opacity: 0.5;
	text-decoration: none;
}

/* Меню footer, большой список// */


.footer-bottom {
	background-color: #293449;
}

.footer-bootom-wrapper{
	display: flex;
	align-items: center;
}

.copyrigh {
	width: 230px;
}

.copyrigh p {
	font-size: 16px;
	color: #ffffff;
}

.social {
	margin-left: 140px;
	display: flex;
}

.social a {
	background-color: #212a3a;
	width: 50px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	margin-right: 5px;
}

.social a:hover,
.social a:active {
	background-color: #ee3643;
}


.footer-feedback {
	display: flex;
	justify-content: space-between;
	width: 300px;
	margin-left: 112px;
}


.footer-feedback-title p {
	font-size: 16px;
	color: #ffffff;
}

.footer-feedback-title a {
	color: #ffd180;
	text-decoration: none;
}

.footer-feedback-title a:hover {
	text-decoration: underline;
}

.footer-feedback-title a:active {
	color: #ee3643;
	text-decoration: none;
}
