/* font-family: 'Cuprum', sans-serif; */
/* font-family: 'PT Sans', sans-serif; */
body {
	font-family: 'Cuprum', Helvetica, Arial, sans-serif;
	font-size: 18px;
	line-height: 18px;
	font-style: normal;
	font-weight: 400;
	background-color: #ffffff;
}
/* /Header/ */

.wrap {
	margin: 0 auto;
	width: 960px;
}

.popup {
	display: none; /* Закроем попап */
}

.header-wrapper {
	background-color: #f2f6f8;
	padding: 0;
	min-height: 320px;
}

.logo {
	background-color: #ee3643;
}

.header-top {
	background-color: #293449;
	min-height: 42px;
}

.header-top-wrapper {
	min-height: 42px;
	display: flex;
	justify-content: space-between;
}

.header-top a {
	font-size: 17px;
	text-decoration: none;
	color: #ffffff;
	/* Будем делать по другому */
}

.header-top .marker:active,
.header-top .basket:active {
	background-color: #161d29;
	color: rgba(255, 255, 255, 0.4);
}

.search {
	width: 270px;
}

.order {
	background-color: #5fbb2d;
	width: 150px;
	display: block;
}

.marker,
.basket {
	display: block;
	width: 150px;
}

.order:active {
	color: rgba(255, 255, 255, 0.5);
	background-color: #518534;
}

.header-info {
	width: 940px;
	margin: 46px auto;
	display: flex;
	justify-content: space-between;
}

.header-description {
	width: 200px;
	margin-left: 52px;
	margin-top: 0px;
  margin-bottom: 0px;
	font-style: italic;
	font-size: 16px;
	line-height: 23px;
	color: #ee3643;
}

.contact-information {
	width: 270px;
}

.phone {
	font-size: 21px;
	line-height: 21px;
	color: #ee3643;
	text-decoration: none;
}

.address {
	font-size: 14px;
	line-height: 24px;
	color: #32425c;
}

.entrance-registration {
	width: 283px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.entrance-registration a {
	font-size: 21px;
	line-height: 21px;
	text-decoration: none;
	color: #000000;
	background-color: #ffffff;
}

.entrance-registration a:hover {
	color: #ee3643;
}

.entrance-registration a:active {
	color: rgba(0, 0, 0, 0.3);
}

/* Стили бля catalog - client */

.client-wrapper {
	width: 300px;
	text-align: center;
}

.client a {
	font-size: 21px;
	line-height: 21px;
	color: #000000;
	text-decoration: none;
	background-color: #ffffff;
}

.client-name:active {
	color: rgba(0, 0, 0, 0.3);
}

.personal-account {
	font-size: 16px;
	line-height: 18px;
	list-style: none;
	display: flex;
}

.personal-account a {
	color: #3f4e66;
	padding-right: 33px;
}

.personal-account a:hover {
	color: #ee3643;
}

.personal-account a:active {
	color: rgba(50, 66, 92, 0.3);
}

.menu {
	background-color: #32425c;
	min-height: 60px;
}

.menu-list {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	justify-content: space-between;

}

.menu-list a {
	display: block;
	width: 127px;
	min-height: 60px;
	text-decoration: none;
	font-size: 17px;
	line-height: 60px;
	color: #ffffff;
	text-align: center;
}

.menu-list a:hover {
	background-color: #293449;
}

.menu-list a:active {
	color: rgba(255, 255, 255, 0,5);
	background-color: #1d2739;
}

.main-hidden {
	display: none;
}

.breadcrumbs-list {
	display: flex;
	padding: 0;
}

.breadcrumbs-list li {
	list-style-type: none;
	padding-right: 18px;
}

.breadcrumbs-list a {
	font-family: 'PT Sans', Helvetica, Arial, sans-serif;
	text-decoration: none;
	color: #000000;
	font-size: 13px;
	text-transform: uppercase;
}

.instruments-title-wrapper {
	background-color: #f2f6f8;
	min-height: 90px;
}

.instruments-title {
	font-size: 30px;
	line-height: 30px;
	color: #32425c;
	text-transform: uppercase;
	font-weight: 400;
	padding-top: 33px;
	padding-left: 30px;
}

.about-company {
	color: #000000;
}

.about-title,
.contacts {
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	font-weight: 400;
}

.about-description-first,
.description-second,
.contacts-info {
	font-family: 'PT Sans', Helvetica, Arial, sans-serif;
	font-size: 13px;
	line-height: 24px;
}


.main-wrapper {
	min-height: 537px;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.main-wrapper-catalog {
	/* ПУСТО */
}

.about-company {
	width: 522px;
}

.map-wrapper {
	width: 300px;
}

.about-company-list {
	font-size: 18px;
	line-height: 20px;
	list-style-type: none;
}

.button-more-details,
.navigation-info {
	font-size: 14px;
	line-height: 18px;
	color: #ffffff;
	background-color: #ee3643;
	text-decoration: none;
	text-transform: uppercase;
}

.button-more-details:hover {
	background-color: #ca2c37;
}

.button-more-details:active {
	background-color: #ba2732;
}

.navigation-info:hover {
	background-color: #ca2c37;
}

.navigation-info:active {
	background-color: #ba2732;
}

/* Еще часть main cotalog */

.form-catalog-wrapper {
	display: flex;
	min-height: 995px;
}

.form-wrapper {
	min-height: 520px;
	width: 220px;
}

.form-manufacturers,
.form-electro-power {
	font-family: 'PT Sans', Helvetica, Arial, sans-serif;
	color: #000000;
	text-transform: uppercase;
}

.type-manufacturers,
.type-electro-power {
	list-style: none;
}

.form-manufacturers legend,
.form-electro-power legend {
	font-size: 17px;
	line-height: 30px;
	font-weight: bold;
} 

.form-manufacturers label,
.form-electro-power label {
	font-size: 15px;
	line-height: 20px;
}

.button-show-manufacturers {
	background-color: #ffffff;
	border: 1px solid black;
	border-color: #e5e5e5;
}

.button-show-manufacturers:hover {
	border-color: #bdc6ca;
}

.button-show-manufacturers:active {
	border-color: #ee3643;
}

/* Часть с типани перформаторов */
/* catalog */

.catalog {
	width: 720px;
	min-height: 995px;
}

.catalog-list {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	margin-left: 20px;
}

.catalog-item {
 	font-family: 'PT Sans', Helvetica, Arial, sans-serif;
	font-weight: bold;
	outline: 1px solid #070707;
	list-style: none;
	width: 220px;
	min-height: 320px;
	margin-bottom: 20px;
	margin-right: 5px;
}

.catalog-item-type a {
	text-decoration: none;
	color: #000000;
}
.catalog-item-type {
	line-height: 20px;
}

.discount {
	font-size: 17px;
	color: #999999;
	text-transform: uppercase;
}

.price.new {
	color: #ffffff;
	background-color: #ee3643;
}

         /* Стили для footer */




.footer-top {
	background-color: #32425c;
	min-height: 192px;
}

.footer-top-wrapper {
	padding: 0 10px;
	display: flex;
	justify-content: space-between;
}

.footer-logo-address {
	width: 332px;
}

.footer-logo {
	background-color: #ee3643;
}

.footer-address {
	line-height: 24px;
	color: #f1f5f7;
}

.footer-logo-address a {
	text-decoration: none;
	line-height: 24px;
	color: #f1f5f7;
}

/* Меню footer, большой список/ */

.footer-menu {
	width: 550px;
	padding-top: 24px;
}

.footer-menu li {
	list-style: none;
}

.footer-menu-list {
	line-height: 24px;
	color: #f1f5f7;
	display: flex;
	justify-content: space-between;
}

.footer-menu-list a {
	text-decoration: none;
	color: inherit;
}

.footer-menu-bottom {
	color: #ffd180;
}

.footer-menu-list a:hover {
	text-decoration: underline;
}

.footer-menu-list a:active {
	opacity: 0.5;
	text-decoration: none;
}

/* Меню footer, большой список// */


.footer-bottom {
	background-color: #293449;
}

.footer-bootom-wrapper{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.copyrigh {
	width: 230px;
}

.copyrigh p {
	font-size: 16px;
	color: #ffffff;
}

.social {
	width: 135px;
}

.footer-feedback {
	display: flex;
	width: 300px;
}

.footer-feedback-title p {
	font-size: 16px;
	color: #ffffff;
}

.footer-feedback-title a {
	color: #ffd180;
	text-decoration: none;
}

.footer-feedback-title a:hover {
	text-decoration: underline;
}

.footer-feedback-title a:active {
	color: #ee3643;
	text-decoration: none;
}
